#one {
    background-color: #111111;
    background-image: url(../images/white-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#one .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;

}

#two {
    background-color: #111111;
    background-image: url(../images/grey-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#two .overlay {
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

#three {
    background-color: #111111;
    background-image: url(../images/white-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#three .overlay {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

#four {
    background-color: #111111;
    background-image: url(../images/grey-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#four .overlay {
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

#five {
    background-color: #111111;
    background-image: url(../images/white-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#five .overlay {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}


#six {
    background-color: #111111;
    background-image: url(../images/grey-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#six .overlay {
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

#seven {
    background-color: #111111;
    background-image: url(../images/white-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#seven .overlay {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}


#eight {
    background-color: #111111;
    background-image: url(../images/grey-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#eight .overlay {
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

#nine {
    background-color: #111111;
    background-image: url(../images/white-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#nine .overlay {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}


#ten {
    background-color: #111111;
    background-image: url(../images/grey-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#ten .overlay {
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

#eleven {
    background-color: #111111;
    background-image: url(../images/white-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#eleven .overlay {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}



#twelve {
    background-color: #111111;
    background-image: url(../images/grey-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#twelve .overlay {
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}

#thirteen {
    background-color: #111111;
    background-image: url(../images/white-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#thirteen .overlay {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}



#fourteen {
    background-color: #111111;
    background-image: url(../images/grey-h.png);

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 12rem 0 12rem;
    position: relative;
}

#fourteen .overlay {
    background-color: #D9D9D9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.75;
}